*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "MedievalSharp";
    background-color: black;
    color: whitesmoke;
    font-size: 22px !important;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

nav{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 30px;
    margin-top: 14px;
    background-color: black;
    color: whitesmoke;
}

nav a{
    font-size: 20px;
    display: inline-block;
    line-height: 24px;
    font-weight: 400;
    color: rgba(144, 48, 189, 0.89);
    background-color: black;
    cursor: pointer;
    padding: 5px 18.7px;
}

nav a:hover {
    color: rgb(177, 10, 10);
    opacity: 0.89;
}

.title{
    top: 415px;
    padding:0;
    margin:auto;
    position: relative;
    z-index: 100;
    background-color: transparent;
}

.center{
  color: rgb(72, 13, 90);
  background-color: transparent;
  letter-spacing: 15px;
  font-size: 80px !important;
  font-weight: 1900;
}
nav img {
    width: 94px;
    padding: 5px;
    margin: auto 7px;
    height: 94px;
    cursor: pointer;
    border-radius: 45px;
}

nav img:hover{
    opacity: 0.5;
}

nav button{
    width: 134px;
    padding: 5px;
    margin: auto 17px;
    height: 64px;
    cursor: pointer;
    font-weight: bold;
    outline: none;
    padding: 7px 12px;
    border-radius: 3px;
    margin-left: 7px;
    color: rgba(144, 48, 189, 1);
}

nav button:hover{
    color: rgb(177, 10, 10);
    background-color: rgb(70, 6, 6);
    opacity: 0.89;
}

.searchpage-image{
    flex: 1;
}

.searchpage-image .logo{
    display: block;
    margin: 0px auto;
    margin-top: 197px;
    width: 890px;
    height: 340px;
    border: dotted 6px #ab655d;
    left: 100px;
  
}



.searchbox{
    width: 580px;
    margin: 0px auto;
    position: relative;
    margin-top: -8px;
    text-align: center;
}

.searchbox .search{
    display: block;
    border: 1px solid #ddd;
    color: rgba(247, 240, 240, 0.87);
    font-size: 16px;
    padding: 13px;
    padding-left: 25px;
    width: 650px;
    height: 40px;
    border-radius: 25px;
    outline: none;
    
}

.searchbox .searchicon {
    width: 35px;
    opacity: 1;
    position:absolute;
    top: 2px;
    left:594px;
    border-radius: 14px;
}

.searchbox .s-buton{
    width: 200px;
    height: 35px;
    border: 1px solid transparent;
    padding: 9px 15px;
    font-size: 14px;
    border-radius: 5px;
    display: inline-block;
    margin-right: 10px;
    margin-top: 28px;
    outline: none;
    cursor: pointer;
    color: rgba(144, 48, 189, 0.89);
    background-color: rgba(41, 12, 54, 0.89);

}

.searchbox .s-buton:hover{
    color: rgb(177, 10, 10);
    background-color: rgb(70, 6, 6);
    opacity: 0.89;
}

.languages{
    margin-top: 30px;
    text-align: center;
    font-size: 16px;
    color: rgb(108, 23, 119);
}

.languages a{
    margin-left: 5px;
    color:lightsalmon;
}

.languages a:hover{
    text-decoration: underline;
}

footer{

    background-color: yellow;
}

footer h4{
    color: lightsalmon;
    font-size: 20px;
    line-height: 39.6px;
    font-weight: 800;
    padding-left: 29px;
}

footer a{
    color:rgba(144, 48, 189, 1);
    display: inline-block;
    padding: 22px 11.3px;
    font-size: 16px;

}

footer a:hover{
    color:rgb(104, 36, 10)

}

.links{
    background-color: tomato;
    display:flex;
}

.link-1{
    padding-left: 18.7px;
    flex: 1;
}

.link-1{
    padding-right: 18.7px;
    flex: 1;
}
